wordpress-org/screenshot-1.gif filter=lfs diff=lfs merge=lfs -text
wordpress-org/banner-1544x500.jpg filter=lfs diff=lfs merge=lfs -text
wordpress-org/banner-772x250.jpg filter=lfs diff=lfs merge=lfs -text
