/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 
.wp-block-math-input-with-mathquill-direct-math-input {
	// border: 1px dotted #f00;

	.mq-editable-field {
		border: none;
		display: block;
	}

	&.is-showing-latex {
		outline: 1px solid var(--wp--preset--color--foreground);
	}

	&.is-selected .mq-root-block.mq-empty {
		background-color: var(--wp--preset--color--foreground);
		opacity: 0.2;
	}
}

.copyable-latex-string {
	width: 100%;
	padding: 0.5em;
	background: var(--wp--preset--color--foreground);
	color: var(--wp--preset--color--background);
	opacity: 0.6;
	white-space: pre-wrap;
	margin: 0;
}